appnope==0.1.2
async-generator==1.10
backcall==0.2.0
click==8.0.1
click-completion==0.5.2
click-default-group==1.2.2
colorama==0.4.4
commonmark==0.9.1
cucumber-tag-expressions==2.0.4
dataclasses-json==0.5.3
decorator==5.0.9
flake8==3.9.2
ipdb==0.13.8
ipython==7.24.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
libcst==0.3.19
MarkupSafe==2.0.1
marshmallow==3.12.1
marshmallow-enum==1.5.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mypy-extensions==0.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
pprintpp==0.4.0
prompt-toolkit==3.0.18
psutil==5.8.0
ptyprocess==0.7.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pyre-check==0.9.3
pyre-extensions==0.0.21
pywatchman==1.4.1
PyYAML==5.4.1
rich==10.2.2
shellingham==1.4.0
six==1.16.0
stringcase==1.2.0
tabulate==0.8.9
termcolor==1.1.0
toml==0.10.2
traitlets==5.0.5
typing-extensions==3.10.0.0
typing-inspect==0.6.0
ward==0.57.2b0
wcwidth==0.2.5
